body {
	margin: 0;
	/* background-color: #ffc800; */
}

.container-fluid {
	padding: 0;
}

/* Navbar */

.navbar {
	background-color: rgba(0, 0, 0, 0.7);
	margin-bottom: 9%;
	z-index: 20;
	padding: 1% 5%;
}

.navbar-brand {
	font-size: 190%;
}

.navbar-dark .navbar-nav .nav-link {
	color: aliceblue;
	font-size: 120%;
}

.autohide {
	position: fixed;
	top: 0;
	right: 0;
	left: 0;
	width: 100%;
	z-index: 1030;
}
.scrolled-down {
	transform: translateY(-100%);
	transition: all 0.3s ease-in-out;
}
.scrolled-up {
	transform: translateY(0);
	transition: all 0.3s ease-in-out;
}

/* Section-1 */

.intro {
	background-image: url(img/01-BLOG_MAIN_1445x.jpg);
	background-position: center;
	background-repeat: no-repeat;
	height: 100vh;
	-webkit-filter: blur(8px);
	filter: blur(8px);
}

.intthings {
	text-align: center;
	position: absolute;
	z-index: 100;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
}

.titleh {
	width: 100%;
	text-align: center;
	font-family: "Times New Roman", sans-serif;
	font-size: 9.5em;
	color: #5c8cad ;
	font-weight: 900;

	margin-bottom: 5%;
}

.titlep {
	font-family: "Brush Script MT", sans-serif;
	font-size: 350%;
	color:#CFD6E6;
}

.intdiv {
	padding: 3% 7% 27%;
}

.not {
	color:rgb(144, 152, 171);
	opacity: 1;
	transition: ease-in 0.4s;
}

.not:hover {
	opacity: 0;
}
::-webkit-scrollbar {
	width: 10px;
	height: 4px;
}

::-webkit-scrollbar-track {
	background: #dee0e8;
}

/* Handle */
::-webkit-scrollbar-thumb {
	background: #bac0ca;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
	background: rgb(164, 160, 160);
}

.s2 {
	padding: 4% 5% 4% 0;
	background-color: #1a547b;
}

.sec2h {
	font-family: "Didot", serif;
	font-size: 300%;
	font-weight: 900;
	color: rgb(189, 195, 208);
	margin-bottom: 0;
}

.sec2col {
	padding: 8% 3% 8% 5.5%;
}
.ik {
	padding: 3% 0;
}

.cardimg {
	height: 100%;
}

/* About Us */
.abtbdy {
	background-color: #ffff;
}
.expbdy{
	background-color: #E7EFF9;	
	background-image: linear-gradient(#CFD6E6 , #E7EFF9);
	  }
/*#96A7CF*/

.abtsec1 {
	padding: 9% 0 0;
	background-color:#96A7CF;
}

.abtuspic {
	max-inline-size: 100%;
	block-size: auto;
}
.abth {
	color:#A7ACD9;
	font-family: "Brush Script MT", sans-serif;
	margin-bottom: 5%;
	font-size: 5em;
	text-align: center;
	border-style: solid;
}
.abth:hover {
	background-color: #D3D3D3;
}

.abtp {
	color: #A7ACD9;
	font-family: "garamond", sans-serif;
	font-weight: 900;
	font-size: 1.75em;
	text-align: center;
}
.imcol {
	padding: 0 10%;
}

.row {
	margin-bottom: 4%;
	margin-top: 4%;
}
.br {
	display: block;
	margin-bottom: 0.2em;
}

.cardp {
	text-align: center;
	margin: 3% auto;
	font-family: "garamond", sans-serif;
	font-weight: 900;
	font-size: 1.25em;
	color: #565fad;
}

.social-icon {
	margin: 20px 10px;
	color: black;
}

.f {
	color: #8f8f8f;
	font-size: 1rem;
}

.white-section {
	padding: 4%;
	text-align: center;
	background-color: #f1f1f1;
}

.prictotdiv {
	margin: 7% 7%;
}